**/target/**
*.swp
*.swn
*.swo
debug/**
diagnose.txt
run.txt
train.txt
log/**
license/zinggLicense
client/src/test/resources/large.xlsx
perf_test/perf_test_report/testReport_ncVoters5M.json
perf_test/perf_test_report/testReport_febrl120K.json
.idea/**
**/*.iml
/target/
/zingg/*
**/snow.json
__pycache__
deps/**
zingg.egg-info
dist
python/docs/_build/html
python/docs/_build/_doctrees
**/python/build/*
**/assembly/.classpath
**/.DS_Store

# Python stuff
.env
.venv

# Sphinx _build
**/_build
