**/target/**
*.swp
*.swn
*.swo
debug/**
diagnose.txt
run.txt
train.txt
log/**
license/zinggLicense
client/src/test/resources/large.xlsx
.idea/**
**/*.iml
/target/
/zingg/*
**/snow.json
/python/venv
/python/build
python/dist/zingg-0.7.0-py2.py3-none-any.whl
assembly/.DS_Store
/python/zingg.egg-info
python/.DS_Store
