global-exclude *.py[cod] __pycache__ .DS_Store *.pyc 
recursive-include deps/jars zingg*.jar
graft deps/scripts
recursive-include deps/scripts zingg.sh
recursive-include deps/examples *
recursive-include deps/models *
recursive-include deps/phases *
recursive-include deps/config *
recursive-include deps/DOCs LICENSE requirements.txt
include *.py
include README.md
include setup.cfg